.Pane1{
  background-color: #00B050;
}
.navbar-brand .img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
.navbar-dark .navbar-nav .nav-link {
  display: block;
  color: rgba(255,255,255,.5);
  font-weight: 600;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
